@import url(‘https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap’);
:root {
  /* color */
  --lila: #855ec3;
  --magenta: #d75cb1;
  --amarillo: #ffd700;
  --naranja: #ff9770;
  --gris: #b1c9cd;
  --negro: #283337;
  /* Gradients / lights and darks */

  --amarillo-light: ##fefae5;
  --lila-light: #e5ddf2;
  --magenta-light: #f7ddef;
  --naranja-light: #ffe9e1;
  --lila-dark: #523a78;
  --gris-light: #c4dfe3;
  --bg-gradient: linear-gradient(103.02deg, #855ec3 11.8%, #d75cb1 95.84%);

  /* fuente */
  
--font-display: font-family: ‘Passion One’;
--font-display:  ‘Passion One’;
}
